[run]
source =
    src
    tools/vscode-extension/scripts
omit =
    src/parser/gen/*
    src/run_*.py
    *__init__.py
    *_test.py
    /tmp/*
    /var/*
    /private/var/*

[report]
omit =
    src/parser/gen/*
    src/run_*.py
    *__init__.py
    *_test.py
    /tmp/*
    /var/*
    /private/var/*

