[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
antlr4-python3-runtime = "*"
pygls = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.14"

[scripts]
test = "python -m unittest discover -s src -p '*_test.py'"
coverage = "sh -c 'coverage run -m unittest discover -s src -p \"*_test.py\" && coverage report -m && coverage html'"
